.pruscss {
  font-size: 20px; }
  .pruscss img {
    width: 50%; }

#artprin p {
  color: brown; }

.lema li {
  font-weight: bold; }
  .lema li:hover {
    font-size: 23px;
    color: #d8d6d6; }

.btn-registrate {
  background-color: #08f127; }

.btn-cancela {
  background-color: #970808; }

.detalle {
  background-color: black;
  color: white; }

.log {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%; }

.qhace, .btn-enviar, .btn-reset {
  border: 1px solid black;
  width: 100px;
  height: 50px; }

.btn-enviar {
  background-color: #08dd08;
  color: black;
  border-radius: 15px; }

.btn-reset {
  background-color: #990c0c;
  color: black;
  border-radius: 15px; }
