* {
    Margin:0;
    padding:0;
 }
 

body {
    display: flex;
    background-color: darkolivegreen;
}


h1 {
    padding-top: 3%;
    text-align: center;
    color: darkgreen;
    font-size:700%;
    font-family:unset;
    font-style:italic;
    line-height: 0.9;
}

h2 {
    text-align: center;
    color: darkgreen;
    font-size: 100px;
    font-family:unset;
    font-style:italic;
    line-height: 0.9;
}

h3 {
    font-size: 40px;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align:center;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
}

li {
    display:inline;
    font-weight: bold;
}

#imgp{
    padding: 1%;
}

#contenedor {
    padding: 5px;
    display: flex;
    display: grid;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "principal principal secundaria"
      "principal principal secundaria"
      "footer footer footer";
    grid-template-rows: 200px 60px 1fr 1fr 30px; 
    grid-template-columns: 30% 30% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.border {
    border: 1px solid black;
}

header {
    grid-area: header;
}

nav {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    grid-area: nav;
}
 
footer {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    grid-area: footer;
}

section#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: principal;
    background-color: red;
    overflow: hidden;     
}

section#secundaria {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: secundaria;
    background-color: red;
    overflow: hidden;     
}

@media(max-width:364px){
    #contenedor{
        display: flex;
        flex-direction: column;
        padding: 1px;
    }

    header{
        background-color: rgb(255, 115, 0);
    }

    #nave{
        background-color: rgb(255, 115, 0);
    }

    h3{
        text-align:center;
    }

    section#principal{
        background-color: rgb(255, 115, 0);
        flex-wrap: wrap;
    }

    #casa{
        width: 100%;
    }

    section#secundaria{
        background-color: rgb(255, 115, 0);
        flex-wrap: wrap;
    }

    footer{
        background-color: rgb(255, 115, 0);
        font-weight: bold;
        text-align: center;
    }
        
}



/*calses*/ 
* {
    Margin:0;
    padding:0;
}

#contenedorClases{
    padding: 5px;
    display: flex;
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "caja caja"
      "caja caja"
      "footer footer";
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.caja{
    background-color: brown;
    width: 95%;
}    

.tarjeta{
    margin-left: 30%;
    margin-right: 30%;
    height: 50%;
    width: 50%;
}


@media(max-width:364px){
    #contenedorClases{
        display: flex;
        flex-direction: column;
        padding: 1px;
    }

    header{
        background-color: rgb(255, 115, 0);
    }

    nav{
        background-color: rgb(255, 115, 0);
    }

    .caja{
        width: 100%;
        margin: 2% 0%;
        background-color: rgb(255, 115, 0);
    }

    .tarjeta{
        width: 50%;
        padding-right:40%;
    }

    p{
        text-align: justify;
    }
 
    footer{
        background-color: rgb(255, 115, 0);
        font-weight: bold;
        text-align: center;
    }
        
}

/*contacto*/
#contenedorContacto{
    padding: 5px;
    display: flex;
    display: grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "colizq1 colder1"
    "colizq1 colder1"
    "footer footer";
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 60% 40%;
    grid-column-gap: 10px;
    grid-row-gap: 1px;
}

#colizq1{
    background-color: brown;
    width: 100%;
    display: flex;
    display: block;
}

#miniform{
    width: 70%;
    height: 80%;
    display: block;
    margin: 5% 5%;
}

#comentario{
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
}

#colder1{
    background-color: brown;
    width: 100%;
    display: flex;
    display: block;
    overflow: hidden;
}

#mapa{
    width: 100%;
}

footer{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    grid-area: footer;
}

@media(max-width:364px){
    #contenedorContacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1px
    }

    #headerContacto{
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        background-color: rgb(255, 115, 0);
    }

    #naveContacto{
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        background-color: rgb(255, 115, 0);
    }

    #colizq1{
        width: 100%;
        display: flex;
        display: block;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 2% 0%;
    }

    #miniform{
        width: 70%;
        height: 80%;
        display: block;
    }

    #colder1{
        width: 100%;
        display: block;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 2% 0%;
    }

    #mapa{
        width: 90%;
        display: flex;
        display: block;
    }

    footer{
        background-color: rgb(255, 115, 0);
        font-weight: bold;
        text-align: center;
    }

}

/*video*/

#contenedorVideo{
    padding: 5px;
    display: flex;
    display: grid;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "videos videos videos"
    "footer footer footer";
    grid-template-rows: 200px 100px 1fr 30px; 
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 1px;
}

.videos{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: brown;
    margin: 0px 2px;
}

@media(max-width:364px){
    #contenedorVideo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1px;
        margin: 3% 0%;
    }

    #headVideo{
    margin: 3% 0%;
    }

    #navVideo{
    margin: 3% 0%;  
    }

    .videos{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: brown;
    margin: 3% 0%;
    }
}

/*registro*/

#contenedorRegistro{
    padding: 5px;
    display: flex;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "registro"
    "footer";
    grid-template-rows: 200px 100px 1fr 30px; 
    grid-template-columns: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 1px;
}

@media (max-width:364px){
    #contenedorVideo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1px;
        margin: 3% 0%;
    }

    #headRegistro{
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        margin: 3% 0%;
    }

    h1{
        font-size: 600%;
    }

    #navRegistro{
        margin: 3% 0%;
    }
}
