body{
    background-image: linear-gradient(green, grey);
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

#nav li{
    display: inline;
    align-content: center;
}

#pieprin{
    display: flex;
    justify-content: center;
    background-color: red;
}
