//codigo en comun//

body{
    background-image: linear-gradient(rgb(87, 82, 82), rgb(2, 66, 6));
}

@for $i from 1 through 5 {
    h#{$i}{
        text-align: center;
        font-size: 500% / $i;
    }
}

p{
    font-weight: bold;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

//mixin

@mixin logito($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.log{
    display: flex;
    justify-content: center;
    @include logito(100%, 10%)
}

.pie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size:large;
    margin-top: 5%;
}

//index//

#artprin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    height: 80%;
    p{
        color: rgb(44, 38, 38);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
    }
}

.lema{
    li{
        font-weight: bold;
        &:hover{
            font-size: 23px;
            color: rgb(83, 52, 52);
        }
    }
}

#asideprin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    height: 80%;
    p{
        font-weight: bolder;
    }
}

//map get
$estilo:(
    letra: rgb(22, 21, 21),
    centro: center,
    fondo: rgba(26, 71, 21, 0.5),
);

.detalle{
    background-color: map-get($estilo, fondo);
    color: map-get($estilo, letra);
}

//contacto

#artcont{
    display: flex;
    flex-direction: column;
}

#formcont{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding-right: 40%;
}

#alineado{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 40%;
}

#asidecont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left:10%;
}

.iframe-fluid{
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 20;
}

//extend

.dec {
    border: 1px solid black;
    width: 100px;
    height: 50px;
}

.btn-enviar{
    @extend .dec;
    background-color: rgb(1, 102, 94);
    color: black;
    border-radius: 15px
}

.btn-reset{
    @extend .dec;
    background-color: rgb(59, 1, 1);
    color: black;
    border-radius: 15px
}

//clases
.card-body{
    background-image: linear-gradient(rgb(22, 21, 21), rgb(1, 46, 1));
    h5{
        color: black
    };
    p{
        color: rgb(12, 3, 3);
    };
}

.card-img-top{
    height: 500px;
}

//registro
#gen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
}

.x{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30%;
}
.y{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2% 20%;
}

$decide:(
    "registrate": rgb(24, 70, 100),
    "cancela": rgb(151, 8, 8)
);

@each $name, $color in $decide {
    .btn-#{$name}{
        background-color:$color;
    }
}





